.root {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    margin-top: 200px;
}
.actionButton {
    width: 100%;
    font-weight: bold;
}

.rightSubAction {
    float: right;
}

.rememberMe {
    float: left;
}

.leftSubAction {
    float: left;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    box-shadow:
      0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 4px;
    margin-top: 120px;
}
.input {
    height: 50px;
}
.lastRow {
    margin-bottom: 0px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, 
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
    background-color: transparent;
}
.site-form-item-icon{
    color: rgba(0, 0, 0, 0.65) !important;
}

.message-scroll{
    text-align: center;
    margin: 0px 55px 35px 55px;
    background-color: #ffffffb8;
    font-size: large;
}

.scroll-down {
    height: 300px;	
    overflow: hidden;
    position: relative;
}
.scroll-down p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateY(-100%);
    -webkit-transform:translateY(-100%);	
    transform:translateY(-100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-down 5s linear infinite;
    -webkit-animation: scroll-down 5s linear infinite;
    animation: scroll-down 5s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-down {
    0%   { -moz-transform: translateY(-100%); }
    100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes scroll-down {
    0%   { -webkit-transform: translateY(-100%); }
    100% { -webkit-transform: translateY(100%); }
}
@keyframes scroll-down {
0%   { 
    -moz-transform: translateY(-100%); /* Browser bug fix */
    -webkit-transform: translateY(-100%); /* Browser bug fix */
    transform: translateY(-100%); 		
}
100% { 
    -moz-transform: translateY(100%); /* Browser bug fix */
    -webkit-transform: translateY(100%); /* Browser bug fix */
    transform: translateY(100%); 
}
}

.logos img{
    width: 100px;
}

@media (min-width: 768px) { 
    .form-inline-login{
        display: none !important;
    }
}

@media (min-width: 576px) { 
    .form-inline-login{
        display: none !important;
    }
}