@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
.textAldrich{
    font-family: 'Aldrich', sans-serif;
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
    .logosContainer{
        margin-top: 40px;
        margin-bottom: 10px; 
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .logosContainer{
        
        margin-top: 20px;
        margin-bottom: 10px; 
    }
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1600px) { 
    .logosContainer{
        margin-top: 10px;
    }
}

@media screen and (min-width: 1200px) and (max-width:1500px) {
    .logosSize img{
        width: 80px;
    }
  }
  
  .drop-down{
      width: 35%;
      >button{
        cursor: pointer;
         // background: #6325c9;
         // border: transparent !important;
          color: rgba(0, 0, 0, 0.65);
          width: 100%;
          min-height: 35px;

          box-shadow:  inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
          border-radius: 10px;
          border-color: transparent !important;

          &:hover{
              box-shadow:  inset 6px 6px 10px 0 rgba(255, 255, 255, 0.5), inset -6px -6px 10px 0 rgba(0, 0, 0, 0.65);
          }
      }
    }

@media (max-width:1199px) {
    .drop-down{
        width: 100%;
    }
    .background-card-metaburn{
        margin-right: auto !important;
    }
    .logo-metaburn{
        
        >img{
            height: 30vh !important;
            margin-right: 0px !important;
        }
    }
}

.background{
    height: 100vh;
    overflow: auto;
}

.background-img{
    background-position : center !important;
    background-size : cover !important;
    background-repeat : no-repeat !important;
}
.background-metaburn{
    @extend .background;
    @extend .background-img;
    background-image : url("https://assets-test-o-zone.s3.amazonaws.com/assets2021/Metaburn/background+login+image+new.jpg") !important;
}
.background-others{
    @extend .background;
    background : radial-gradient(circle, rgba(43,16,97,1) 0%, rgba(99,37,201,1) 100%) !important;
}

.list-unstyled-drop{
    list-style: none;
    padding: 0;
}

.card-dropdown{
    display: none;
    width: 100%;
    height: 0px;
    opacity: 0;
    transition: all .25s cubic-bezier(0.36, 0.35, 0.48, 0.44);
    &.active{
        display: block;
        height: auto;
        opacity: 1;
    }
    >li{
        width: 100%;
        >button{
            cursor: pointer;
            border: 1px solid black !important;
            background-color: #8d52ee;
            color: #cbcacb;
            width: 100%;
            min-height: 50px;
            &:hover{
                background: #6325c9;
                color: #ff8000;
            }
        }
    }
}

.background-card-metaburn{
    background-color: white;
    height: 42em;
    margin-left: auto;
    margin-right: 20px;
}
.background-white{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.logo-metaburn{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    margin: auto;
    align-items: center;
    justify-content: center;
    >img{
        height: 60vh;
        margin-right: 250px;
    }
}
.header-login{
    z-index: 3;
}