.skyboxIcon{
    border-radius: 100%;
    width: 25.33%;
    cursor: pointer;
    margin: 10px;
}
.iconsContainer{
    text-align: center;
}
.controlPanelContainer{
    position: absolute;
    background-color: white;
    width: 40vw;
    // height: 40vw;
    text-align: center;
    z-index: 2;
    top: 0;
    right: 0;
    padding: 10px;
}

.circleButton {
    white-space: normal !important;
    width: 100px;
    height: 100px !important;
    border-radius: 50% !important;
    margin: 5px;
    vertical-align: middle;
    text-align: center !important;
    box-shadow:  inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5) !important;
}
.labelButtonTwilio {
    width: 33%;
    text-align: center;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.65);
}

.buttonNeu {
    height: 35px;
    width: 100px;
    font-weight: bold;
    background-color: transparent !important;
    box-shadow:  inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5) !important;
    border-radius: 20px !important;
    border-color: transparent !important;
}
.dropDownNeu {
    box-shadow:  6px 6px 10px 0 rgba(0, 0, 0, 0.2), -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

